# pip3 install -r requirements.txt

requests==2.20.0
openpyxl==2.5.0
colorama==0.3.9
pexpect==4.3.1
gspread
oauth2client
google-api-python-client
PyOpenSSL
pbr
jira
mysql-connector-python
# pyodbc requires unixodbc-dev installed
pyodbc
